<div class="card">
	<div class="card-header">Kullanıcılar</div>
	<div class="card-block">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Kullanıcı Adı</th>
					<th>İsim</th>
					<th>Soyisim</th>
					<th>Sil</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users" [hidden]="!users.length">
					<td>{{user.id}}</td>
					<td>{{user.userName}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td><button type="button" class="btn btn-danger" (click)="deleteUser(user)">Sil</button></td>
				</tr>
				<tr [hidden]="users.length">
					<td colspan="4" class="text-center">Hiç Kullanıcı Yok</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="card">
	<div class="card-header">Kullanıcı Ekle</div>
	<div class="card-block">
		<form #form="ngForm" (ngSubmit)="addUser(form.value)">
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Kullanıcı Adı" (ngModel)="userModel.userName" name="userName">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="İsim" (ngModel)="userModel.firstName" name="firstName">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Soyisim" (ngModel)="userModel.lastName" name="lastName">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success">Kaydet</button>
		</form>
	</div>
</div>