.idea/
/mikroblog.iml
/src/main/resources/static/
/target/
/src/main/frontend/node_modules/
/src/main/frontend/dist/
/src/main/frontend/node/
/src/main/frontend/package-lock.json
.classpath
.project
.settings/
/src/main/resources/logs/
