<div class="card">
	<div class="card-header">Kullanıcı Ekle</div>
	<div class="card-block">
		<form [formGroup]="signUpForm" (ngSubmit)="addUser()">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="form-group" [ngClass]="{'has-success': signUpForm.get('userName').valid, 'has-danger': !signUpForm.get('userName').valid && signUpForm.get('userName').touched}">
						<label class="form-control-label">Kullanıcı Adı</label>
						<input type="text" class="form-control" [ngClass]="{'form-control-success': signUpForm.get('userName').valid, 'form-control-danger': !signUpForm.get('userName').valid}" placeholder="Kullanıcı Adı" formControlName="userName">
						<div class="form-control-feedback" *ngIf="!signUpForm.get('userName').valid && signUpForm.get('userName').touched">
							Kullanıcı adı giriniz
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="form-group" [ngClass]="{'has-success': signUpForm.get('email').valid, 'has-danger': !signUpForm.get('email').valid && signUpForm.get('email').touched}">
						<label class="form-control-label">E-Posta</label>
						<input type="text" class="form-control" [ngClass]="{'form-control-success': signUpForm.get('email').valid, 'form-control-danger': !signUpForm.get('email').valid}" placeholder="E-Posta" formControlName="email">
						<div class="form-control-feedback" *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched">
							E-Posta giriniz
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="form-group" [ngClass]="{'has-success': signUpForm.get('firstName').valid, 'has-danger': !signUpForm.get('firstName').valid && signUpForm.get('firstName').touched}">
						<label class="form-control-label">İsim</label>
						<input type="text" class="form-control" [ngClass]="{'form-control-success': signUpForm.get('firstName').valid, 'form-control-danger': !signUpForm.get('firstName').valid}" placeholder="İsim" formControlName="firstName">
						<div class="form-control-feedback" *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched">
							İsim giriniz
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="form-group" [ngClass]="{'has-success': signUpForm.get('lastName').valid, 'has-danger': !signUpForm.get('lastName').valid && signUpForm.get('lastName').touched}">
						<label class="form-control-label">Soyisim</label>
						<input type="text" class="form-control" [ngClass]="{'form-control-success': signUpForm.get('lastName').valid, 'form-control-danger': !signUpForm.get('lastName').valid}" placeholder="Soyisim" formControlName="lastName">
						<div class="form-control-feedback" *ngIf="!signUpForm.get('lastName').valid && signUpForm.get('lastName').touched">
							Soyisim giriniz
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="form-group" [ngClass]="{'has-success': signUpForm.get('password').valid, 'has-danger': !signUpForm.get('password').valid && signUpForm.get('password').touched}">
						<label class="form-control-label">Şifre</label>
						<input type="password" class="form-control" [ngClass]="{'form-control-success': signUpForm.get('password').valid, 'form-control-danger': !signUpForm.get('password').valid}" placeholder="Şifre" formControlName="password">
						<div class="form-control-feedback" *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">
							Şifre giriniz
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="form-group" formGroupName="role">
						<label class="form-control-label">Rol</label>
						<select type="text" class="form-control" formControlName="roleName">
							<option value="user">User</option>
							<option value="admin">Admin</option>
						</select>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success" [disabled]="!signUpForm.valid">Kaydet</button>
		</form>
	</div>
	<div class="card-block">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Kullanıcı Adı</th>
						<th>E-Posta</th>
						<th>İsim</th>
						<th>Soyisim</th>
						<th>Şifre</th>
						<th>Rol</th>
						<th>Sil</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of users">
						<td>{{ user.id }}</td>
						<td>{{ user.userName }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>{{ user.password }}</td>
						<td>{{ user.role.roleName }}</td>
						<td>
							<button type="button" class="btn btn-danger" (click)="deleteUser(user)">Sil</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>