@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);

* {
    outline: 0 !important;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F8FA;
}

body#dashboard {
    margin-top: 61px;
}

body#dashboard .datepicker {
    top: 210px !important;
}

a {
    color: #000;
}

a:focus,
a:hover {
    text-decoration: none;
}

a:hover {
    color: #000;
}

ul,
ol {
    list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

.transition {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

header {
    background-color: #1f962d;
}

header nav.navbar {
    border-radius: 0;
    min-height: initial;
    margin: 0;
    border: 0;
}

header nav.navbar li > a:focus {
    background-color: transparent;
}

header nav.navbar .navbar-collapse ul.left-links li a {
    color: #fff;
}

header nav.navbar .navbar-collapse ul.left-links li a:hover {
    background-color: transparent;
    color: #97eaa1;
}

header nav.navbar .navbar-collapse ul.left-links li a:hover i {
    color: #97eaa1;
}

header nav.navbar .navbar-collapse .navbar-form {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0;
    margin-left: -111px;
}

header nav.navbar .navbar-collapse .navbar-form .input-group input {
    border-radius: 15px;
    padding-right: 35px;
    border: 0;
}

header nav.navbar .navbar-collapse .navbar-form .input-group input:focus {
    z-index: initial;
}

header nav.navbar .navbar-collapse .navbar-form .input-group .input-group-btn button {
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 7px;
    right: 15px;
}

header nav.navbar .navbar-collapse ul.right-links li a {
    color: #fff;
}

header nav.navbar .navbar-collapse ul.right-links li a:hover {
    background-color: transparent;
    color: #97eaa1;
}

header nav.navbar .navbar-collapse ul.right-links li a:hover i {
    color: #97eaa1;
}

header nav.navbar .navbar-collapse ul.right-links li.dropdown a.dropdown-toggle:focus {
    background-color: transparent !important;
}

header nav.navbar .navbar-collapse ul.right-links li.dropdown ul.dropdown-menu {
    margin: 0;
    padding: 0;
    border: 0;
}

header nav.navbar .navbar-collapse ul.right-links li.dropdown ul.dropdown-menu li a {
    color: #313131;
    padding: 10px 0 10px 15px;
}

header nav.navbar .navbar-collapse ul.right-links li.dropdown ul.dropdown-menu li a:hover {
    background-color: #ebf1f5;
    color: #28c039;
}

header nav.navbar .navbar-collapse ul.right-links li.dropdown ul.dropdown-menu li a:hover i {
    color: #28c039;
}

section.main-area {
    padding: 20px 0;
}

section.main-area .content .panel {
    border-radius: 0;
}

section.main-area .content .panel .panel-heading {
    background-color: #dff8e2;
}

section.main-area .content .panel .panel-heading h3.panel-title {
    display: inline-block;
    word-break: break-word;
    width: 680px;
}

section.main-area .content .panel .panel-heading h3.panel-title a {
    font-weight: 700;
}

section.main-area .content .panel .panel-heading h3.panel-title a:hover {
    color: #28c039;
}

section.main-area .content .panel .panel-heading li.dropdown {
    list-style-type: none;
}

section.main-area .content .panel .panel-heading li.dropdown a.dropdown-toggle i {
    font-size: 20px;
}

section.main-area .content .panel .panel-heading li.dropdown ul.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0;
}

section.main-area .content .panel .panel-heading li.dropdown ul.dropdown-menu li {
    display: block;
}

section.main-area .content .panel .panel-heading li.dropdown ul.dropdown-menu li a {
    color: #313131;
    padding: 10px 0 10px 15px;
}

section.main-area .content .panel .panel-heading li.dropdown ul.dropdown-menu li a:hover {
    background-color: #ebf1f5;
    color: #28c039;
}

section.main-area .content .panel .panel-heading li.dropdown ul.dropdown-menu li a:hover i {
    color: #28c039;
}

section.main-area .content .panel .panel-footer {
    border-bottom: 1px solid #ddd;
}

section.main-area .content .panel .panel-footer ul.content-property {
    display: inline-block;
    margin-right: 30px;
}

section.main-area .content .panel .panel-footer ul.content-property li {
    display: inline-block;
}

section.main-area .content .panel .panel-footer ul.content-property li.comment-count {
    margin-right: 10px;
    background-color: #97eaa1;
    border-radius: 50%;
    padding-left: 8px;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    cursor: default;
}

section.main-area .content .panel .panel-footer ul.content-property li.author {
    margin-right: 10px;
}

section.main-area .content .panel .panel-footer ul.content-property li.author a:hover {
    color: #28c039;
}

section.main-area .content .panel .panel-footer ul.content-property li.time {
    font-size: 12px;
}

section.main-area .content .panel .panel-footer ul.tags {
    display: inline-block;
    float: right;
}

section.main-area .content .panel .panel-footer ul.tags li {
    display: inline-block;
}

section.main-area .content .panel .panel-footer ul.tags li a {
    text-decoration: underline;
}

section.main-area .content .panel .panel-footer ul.tags li a:hover {
    color: #28c039;
}

section.main-area .content .panel ul.comments {
    padding: 15px 15px 15px 150px;
}

section.main-area .content .panel ul.comments li {
    margin-bottom: 10px;
    position: relative;
}

section.main-area .content .panel ul.comments li:before {
    content: '\f0c8';
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    font-size: 6px;
    top: 5px;
    left: -15px;
}

section.main-area .content .panel ul.comments li p {
    display: inline-block;
}

section.main-area .content .panel ul.comments li a {
    color: #28c039;
}

section.main-area .content .panel a.btn-comment {
    margin: 0 15px 15px 0;
    background-color: #97eaa1;
}

.profile figure figcaption {
    margin: 20px 0;
    padding: 0 30px;
}

.profile figure figcaption .info {
    margin-bottom: 10px;
}

.profile figure figcaption h4 {
    font-size: 20px;
}

.profile figure figcaption a {
    color: #1f962d;
}

.profile figure figcaption a.send i {
    font-size: 30px;
    background-color: #1f962d;
    color: #fff;
    padding: 10px;
    width: 80px;
    text-align: center;
}

.profile figure figcaption a.send:hover i {
    background-color: #28c039;
}

.profile .content .panel .panel-heading {
    padding: 10px 15px;
}

.profile .content .panel .panel-heading h3.panel-header {
    width: initial !important;
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;
    display: inline-block;
}

.profile .content .panel .panel-heading h3.panel-title {
    width: 655px !important;
}

.profile .content .panel .panel-heading a.btn {
    padding: 5px 10px;
}

.modal .modal-dialog {
    width: 500px;
}

.modal .modal-dialog .modal-content .modal-header {
    text-align: center;
}

.modal .modal-dialog .modal-content .modal-body {
    padding-bottom: 0;
}

.modal .modal-dialog .modal-content .modal-body .form-group .btn {
    margin-top: 10px;
    background-color: #97eaa1;
    color: #313131;
}

.modal .modal-dialog .modal-content .modal-body .form-group .btn:hover {
    background-color: #6de17a;
}

#profile-modal .modal-content .modal-body .form-group {
    display: inline-block;
    width: 100%;
}