<div class="card">
	<div class="card-header">Kullanıcı Ekle</div>
	<div class="card-block">
		<form #form="ngForm" (ngSubmit)="addUser(form)">
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Kullanıcı Adı" name="userName" ngModel>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="İsim" name="firstName" ngModel>
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Soyisim" name="lastName" ngModel>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-success">Kaydet</button>
		</form>
	</div>
</div>