<form #form2="ngForm" (ngSubmit)="addServer(form2.value)">
	<div class="form-group">
		<label>Server ID</label>
		<input type="number" class="form-control" (ngModel)="serverModel.id" name="id" placeholder="Server ID">
	</div>
	<div class="form-group">
		<label>Server name</label>
		<input type="text" class="form-control" (ngModel)="serverModel.name" name="name" placeholder="Server Name">
	</div>
	<div class="form-group">
		<label>Server Status</label>
		<input type="text" class="form-control" (ngModel)="serverModel.status" name="status" placeholder="Server Status">
	</div>
	<button type="submit" class="btn btn-success">Add Server</button>
</form>

<div class="form-group">
	<ul>
		<li *ngFor="let server of servers" [ngClass]="{'text-success': server.status === 'online', 'text-danger': server.status === 'offline'}">
			{{ server.name }} has ID of {{ server.id }} and status is {{ server.status }}
		</li>
	</ul>
</div>