<div class="container">
	<nav class="navbar navbar-light bg-faded navbar-toggleable-md">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navBar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" routerLink="/">Microblog</a>

		<div class="collapse navbar-collapse" id="navBar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" routerLink="/users">Kullanıcılar</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" routerLink="/users/add">Kullanıcı Ekle</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
